%script{:type => "text/javascript", :src  => "/js_libs/d3.v2.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src  => "/js_libs/underscorejs.js"}
%link{:type => "text/css", :rel => "stylesheet", :href => "/population.css"}

#header
  #container
    %h1#case_title
      = @title
    %h2#case_info
      Demografisk utvikling  1990 - 2023
#chart

%script{:type => "text/javascript", :src  => "/population.js"}




