%script{:type => "text/javascript", :src  => "/js_libs/d3.v2.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src  => "/js/demopleth.js"}


#header
  #container
    %h1#case_info
      Oslos demografiske utvikling

#container
  #chart

:javascript
  new Demopleth();



