%script{:type => "text/javascript", :src  => "/js_libs/d3.v2.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src  => "/js_libs/underscorejs.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery.touchSwipe-1.2.5.js"}

#header
  .container
    %h1
      Demografisk utvikling i Oslo for
      <a href="/">hele byen</a> og <a href="/burroughs">bydelene</a>
    %ul#years

.infobox{:style => "display:none"}
  %p
    Oversikten over demografien i bydelene er laget for nettlesere som støtter SVG.
  %p
    Om du vil se ovsersikten må du oppgradere til en nyere nettleser som for eksempel <a href="https://www.google.no/chrome?hl=no">Chrome</a>, <a href="http://www.opera.com/">Opera</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> eller <a href="http://windows.microsoft.com/nb-NO/internet-explorer/products/ie/home">Internet Explorer 9</a>.

#chart
#footer
  .container
    Kilde: Utviklings- og kompetanseetaten, statistikkenheten. Utarbeidet av <a href="http://vis.bengler.no">vis.bengler.no</a> for <a href="http://www.byradsavdeling-for-finans.oslo.kommune.no/">Byrådsavdelingen for finans, Oslo Kommune</a>.
    Animert befolkningspyramide bygget med <a href="https://github.com/mbostock/d3">D3</a>.

%script{:type => "text/javascript", :src  => "/demopleth.js"}