%script{:type => "text/javascript", :src  => "/js_libs/d3.v2.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery-1.7.2.min.js"}
%script{:type => "text/javascript", :src  => "/js_libs/underscorejs.js"}
%script{:type => "text/javascript", :src  => "/js_libs/jquery.touchSwipe-1.2.5.js"}

#header
  .container
    %h1
      Demografisk utvikling i Oslo for
      <a href="/">hele byen</a> og <a href="/burroughs">bydelene</a>
    %ul#years

#chart
#footer
  .container
    Kilde: <a href="http://ssb.no">SSB</a>. Utarbeidet av <a href="http://vis.bengler.no">vis.bengler.no</a> for <a href="http://www.byradsavdeling-for-finans.oslo.kommune.no/">Byrådsavdelingen for finans, Oslo Kommune</a>.
    Animert befolkningspyramide bygget med <a href="https://github.com/mbostock/d3">D3</a>.

%script{:type => "text/javascript", :src  => "/demopleth.js"}