!!! 5
%html
  %head
    %link{:href => '/stylesheet.css?3', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', :rel => 'stylesheet', :type=> 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', :rel => 'stylesheet', :type=> 'text/css'}
    // Mobile view meta tags

    %title
      = @title || "Demografisk utvikling i Oslo"
  %body
    = yield
 