!!! 5
%html
  %head
    %script{:type => "text/javascript"}
      var _sf_startpt=(new Date()).getTime()
    %link{:href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:type => "text/css", :rel => "stylesheet", :href => "/population.css"}
    %title
      = @title || "Demografisk utvikling i Oslo"
  %body
    = yield
 