!!! 5
%html
  %head
    %script{:type => "text/javascript"}
      var _sf_startpt=(new Date()).getTime()
    %link{:href => '/stylesheet.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    %title
  %body
    = yield
 