!!! 5
%html
  %head
    %link{:href => '/stylesheet.css?2', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    // Mobile view meta tags

    %title
      = @title || "Demografisk utvikling i Oslo"
  %body
    = yield
 