%link{:type => "text/css", :rel => "stylesheet", :href => "/population.css"}
#header
  .container
    %h1
      Befolkningsutviklingen i Oslo som stillbilder
    %ul#years

.infobox
  %p
    Dette er egentlig en animerte oversikt laget for nettlesere som støtter SVG. Det gjør ikke nettleseren din så vi viser deg dette
    som en serie med stillbilder isteden. 
  %p
    Om du vil se animasjonen må du oppgradere til en nyere nettleser som for eksempel <a href="https://www.google.no/chrome?hl=no">Chrome</a>, <a href="http://www.opera.com/">Opera</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> eller <a href="http://windows.microsoft.com/nb-NO/internet-explorer/products/ie/home">Internet Explorer 9</a>.

.stills
  %img{:title => "", :src => "/demo_stills/1990_start.png"}        
  %img{:title => "", :src => "/demo_stills/1995.png"}        
  %img{:title => "", :src => "/demo_stills/2000.png"}        
  %img{:title => "", :src => "/demo_stills/2005.png"}        
  %img{:title => "", :src => "/demo_stills/2010.png"}        
  %img{:title => "", :src => "/demo_stills/2015.png"}        
  %img{:title => "", :src => "/demo_stills/2020.png"}        
  %img{:title => "", :src => "/demo_stills/2025.png"}        
  %img{:title => "", :src => "/demo_stills/2030.png"}        

#footer
  .container
    Utarbeidet av <a href="http://vis.bengler.no">vis.bengler.no</a> for <a href="http://www.byradsavdeling-for-finans.oslo.kommune.no/">Byrådsavdelingen for finans, Oslo Kommune</a>.
    Animert befolkningspyramide basert på arbeid av <a href="http://bost.ocks.org/mike/">Mike Bostock</a> og hans bibliotek <a href="https://github.com/mbostock/d3">D3</a>.


