@import 'mixins'

body
  :margin 0px 0px 65px 0px
  :font-family "PT Sans", "Helvetica Neue", "Helvetica", "arial", "verdana", sans-serif
  :background url(noise.png)
  :bacgkground-color #fff

#states path
  :fill #666
  :opacity 0.3
  :stroke-width 1.1px
  :stroke #fff

#counties path 
  :opacity 0.3
  :stroke-width 0.3px
  :stroke #fff

text 
  :cursor default
  :pointer-events none

.container 
  :width 100%
  :margin 0 auto
  :overflow no-wrap

#header 
  :top 0px
  :background-color #f8f8f8
  :box-shadow 0px 1px 3px rgba(90,90,90,0.3)
  :border-bottom 2px solid #69c4e6
  :border-top 2px solid #fff
  :padding 10px 0px 10px 15px
  :background url(brillant.png)

  :text-transform uppercase
  :opacity 0.8

#footer 
  :width 100%
  :position fixed
  :bottom 0px
  :background-color #eee
  :box-shadow 0px -2px 2px rgba(90,90,90,0.1)
  :padding 10px 0px 10px 15px
  :font-size 8pt
  :color #333
  :border-top #e0e0e0 1px solid
  :border-bottom #e0e0e0 1px solid
  :margin 50px 0px 0px 0px

  a
    :color #666
    :font-weight 900

#chart 
  :clear both
  :margin 0px

h1 
  :font-weight 900
  :margin 0px 0px 0px 0px
  :padding 0
  :font-size 20px
  :line-height 27px
  :text-shadow rgba(255,255,255,1) 0px 2px 2px


ul#years 
  :padding 0px 0px 0px 0px
  :margin 0px 0px 0px 0px

  li 
    :font-family "PT Sans Narrow"
    :display inline-block
    :cursor pointer
    :font-weight 800
    :color #666
    :padding 1px 5px 2px 5px
    :margin-right 5px
    :border 1px solid transparent
    :text-shadow #fff 0px 2px 2px

    &.selected 
      :background-color #90cee2
      :border-radius 2px
      :border 1px solid #83c3de
      :color #000
      :text-shadow #fff 0px 1px 2px
      :box-shadow 0px 1px 2px rgba(114,114,114,0.3)

  li:hover
    :color #000


.stills img
  margin: 20px auto
  border: 1px solid #ddd
  padding: 0px
  display: block

.infobox
  :width 500px
  :margin 10px auto
  :font-size 14px
  :line-height 16px
  :padding 10px
  :background-color #fff
  :padding 1px solid #eee
  :color #666

  &a
    :color #955



svg 
  :width 90%
  :font 10px sans-serif "Helvetica Neue", Helvetica, sans-serif
  :margin 30px 0px 0px 35px
  :display block


g.legend text 
  :font-size 12pt  


text.axisLabel 
  :font-size 12pt  
  :opacity 0.7
  


text.legendType 
  :font-size 9pt  


text.label 
  :font-size 9pt  
  :opacity 0.6

text.title 
  :font 900 98px "Helvetica Neue", Helvetica, sans-serif
  :fill #90cee2

.rule line 
  :stroke #fff
  :stroke-opacity .7
  :shape-rendering crispEdges
  :stroke-width 1px


.rule:first-child line 
  :stroke #000
  :stroke-opacity 0.4
  :shape-rendering crispEdges


rect 
  :fill-opacity .45
  :fill #ad0101
  :fill #d50404


rect:first-child 
  :fill-opacity .45
  :fill #076996
  :fill #0a88c2





@media only screen and (max-device-width: 480px)
  #footer
    position: relative
  #header
    zoom: 1.1


@media only screen and (max-device-width: 320px)
  #header
    zoom: 1.8




