ul#years {
  padding: 0px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
}

ul li {
  display: inline;
  padding-right: 10px;
  cursor: pointer;
  font-weight: 100;
}

ul li.selected {
  font-weight: bold;
}

svg {
  font: 10px sans-serif "Helvetica Neue", Helvetica, sans-serif;
  margin: 20px auto;
  display: block;
}

text.title {
  font: 900 98px "Helvetica Neue", Helvetica, sans-serif;
  fill: #324654;
}

.rule line {
  stroke: #fff;
  stroke-opacity: .6;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #000;
  stroke-opacity: 1;
}

rect {
  fill-opacity: .45;
  fill: #ad0101;
}

rect:first-child {
  fill-opacity: .45;
  fill: #076996;
}
